@model Nero.ViewModel.CinemaVM
@{
    Layout = "_DetailsLayout";
}


<div class="container-fluid mt-5">
    <div class="container d-flex justify-content-between align-items-center mb-5 mt-5">
        <h2 class="text-warning">
            All Cinemas
        </h2>
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCinemaModal">Create New</button>
        }
    </div>


    <div class="container d-flex flex-wrap align-items-center gap-3">
        @foreach (var item in Model.Cinemas)
        {
            <div class="card text-white shadow-lg mb-4 cinema-card" style="width: 19.5rem; animation: fadeIn 0.5s;">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h5 class="text-uppercase" style="background: linear-gradient(45deg, #ff8a00, #e52e71); -webkit-background-clip: text; color: transparent;">@item.Name</h5>
                    </div>
                    <h6 class="card-subtitle mb-2">@item.Address</h6>
                    <span class="text-warning">Available Movies : @item.Movies.Where(e => e.MovieStatus == MovieStatus.Available).Count()</span>
                    <div class="mt-3 d-flex justify-content-around">
                        <a asp-controller="Cinema" asp-action="Movies" asp-route-id="@item.Id" class="btn btn-outline-warning btn-animate">View Movies</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-primary btn-animate" href="javascript:void(0)" onclick="openEditModal(@item.Id, 'Cinema')">Edit</a>
                            <button class="btn btn-outline-danger btn-animate" onclick="deleteIt(@item.Id, 'Cinema')">Delete</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal to add cinema -->
<div class="modal fade" id="addCinemaModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white shadow-lg">
            <form id="formCinema" method="post" asp-action="Create">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="addCategoryModalLabel">Create New Cinema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Name">Name</label>
                        <input class="form-control bg-dark text-light" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Description">Description</label>
                        <input class="form-control bg-dark text-light" asp-for="Description" />
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Address">Address</label>
                        <input class="form-control bg-dark text-light" asp-for="Address" />
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="CinemaLogo">Cinema Logo</label>
                        <input class="form-control bg-dark text-light" asp-for="CinemaLogo" />
                        <span class="text-danger" asp-validation-for="CinemaLogo"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary btn-animate" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="allConfirm('formCinema')" class="btn btn-primary btn-animate">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal to edit cinema take info from partial -->
<div class="modal fade" id="editMovie" tabindex="-1" aria-labelledby="editMovieLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white shadow-lg">
            
        </div>
    </div>
</div>

